
/* the styles for the elements */

/* add a reset selector */
* {  
     margin: 0;
     padding: 0;
}

html {
     background-color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin: 0 auto;
    border: 3px solid #931420;
    background-color: #fffded;
}

a:focus, a:hover {
	font-style: italic;
}

/* the styles for the header */

header {
	
	padding: 1.5em 0 2em 0;
/* add a bottom border to the header that’s the same as the border around the 
body */

	border-bottom: 3px solid #931420;
/* add linear gradient */
	background-image: -moz-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}

section {
	width: 525px;
	float: right;
	padding: 0 20px 20px 20px;
	
}

aside {
	width: 215px;
	float: right;
	padding: 0 0 20px 20px;
	
}


header img {
	float: left;
	padding: 0 30px;
}

header h2 {
	font-size: 170%;
	color: #800000;
	
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

.shadow {
	text-shadow: 3px 3px 3px #800000;
}

/* the styles for the section */
main {
	clear: left;
	
}


aside h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
aside img {
	padding-bottom: 1em;
}
setion p {
	padding-bottom: .5em;
}

/* italisize the blockquote element */
section blockquote {
	padding: 0 2em;
	font-style: italic;
}
section ul {
	padding: 0 0 .25em 1.25em;
}
section li {
	padding-bottom: .35em;
}

/* the styles for the footer */

/* set the background color of the footer to the same color as the borders, and 
then set the font color for the paragraph in the footer to white so it’s easier to 
read */
footer p {
	text-align: center;
	color: white;
	/* included padding */
	padding: 1em 0;
}
footer {
	background-color: #931420;
	clear: both;
}
