
/* the styles for the elements */

/* add a reset selector */
* {  
     margin: 0;
     padding: 0;
}

html {
     background-color: white;
}

body {
/* by setting the width to 600 pixels, setting 
the top and bottom margins to 0 and the right and left margins to auto, and 
adding a 3-pixel, solid border with #931420 as its color. Then, test this change 
in Chrome. If the page isn’t centered with a border, make the required  
corrections */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 600px;
    margin: 0 auto;
    border: 3px solid #931420;
/* add one more rule to the body that sets the background color to #fffded. 
Then, test this change, and note that the entire window is set to the 
background color, not just the body */
    background-color: #fffded;
}

a:focus, a:hover {
	font-style: italic;
}

/* the styles for the header */

header {
	
	padding: 1.5em 0 2em 0;
/* add a bottom border to the header that’s the same as the border around the 
body */

	border-bottom: 3px solid #931420;
/* add linear gradient */
	background-image: -moz-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}


header img {
	float: left;
	padding: 0 30px;
}

header h2 {
	font-size: 170%;
	color: #800000;
	
}

header h3 {
	font-size: 130%;
	font-style: italic;
}

.shadow {
	text-shadow: 3px 3px 3px #800000;
}

/* the styles for the section */
main {
	clear: left;
	padding: 0 30px;
}

main h1 {
/* add top and bottom borders to the h1 heading in the main element. Both 
borders should be the same as the borders for the header and footer */
	font-size: 150%;
	border: 3px double #800000;
	margin-bottom: .75em;
	border-radius: 10px;
	box-shadow: 5px 5px;
	padding: .5em 0 .5em 2em;
	background-color: white;
}

main h2 {
	color: #800000;
	font-size: 130%;
	padding: .5em 0 .25em 0;
}
main h3 {
	font-size: 105%;
	padding-bottom: .25em;
}
main img {
	padding-bottom: 1em;
}
main p {
	padding-bottom: .5em;
}

/* italisize the blockquote element */
main blockquote {
	padding: 0 2em;
	font-style: italic;
}
main ul {
	padding: 0 0 .25em 1.25em;
}
main li {
	padding-bottom: .35em;
}

/* the styles for the footer */

/* set the background color of the footer to the same color as the borders, and 
then set the font color for the paragraph in the footer to white so it’s easier to 
read */
footer p {
	text-align: center;
	color: white;
	/* included padding */
	padding: 1em 0;
}
footer {
	background-color: #931420;
}
